include includes/axios

title Casper
.text-center(style="margin-top: 20vh;")
 h1.text-dark.display-3
   | CasperMusic. 
   i.fa-solid.fa-ghost
 h3.text-dark.lead(style="font-size: 30px") a scary tone for your server.
 button.btn.btn-secondary(type='button' onclick="location.href='/invite'" style="margin-right: 1%;") Invite Me!.
 button.btn.btn-secondary(type='button' onclick="location.href='https://discord.com/users/933856726770413578'") Get Support!.
 